.link{
    background-color: hsl(246, 25%, 77%);
    box-shadow: 0 5px hsla(248, 32%, 49%, 0.397);
    padding: 10px;
}

header{
    text-align: center;
    padding: 10px;
    width: 80%;
    margin: auto;
}
@media (min-width: 800px) {

    h1{
        width: 100%;
    }
}